* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/pexels-maxyne-barcel-10402282\ 1.png');
  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
}

.container {
  position: relative;
  max-width: 90%;
  margin: 30px auto;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar div img {
  width: 100px;
  cursor: pointer;
}

.navbar div .list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style-type: none;
}

.navbar div .list .list-item {
  color: #f2d555;
  cursor: pointer;
}

.navbar div .button-small {
  padding: 8px 20px;
  color: #ffffff;
  background: #f25555;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 600;
}

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */

.hero {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero .hero-heading {
  color: #f2d555;
  font-size: 70px;
  width: 700px;
  text-align: center;
  margin-bottom: 50px;
}

.hero .button-large {
  padding: 15px 50px;
  font-size: 18px;
  border: none;
  outline: none;
  font-weight: 600;
  background: #f25555;
  color: #ffffff;
  cursor: pointer;
}

.hero .bottom div img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 125px;
}

/* mobile responsive */
@media screen and (max-width: 768px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .hero .hero-heading {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .hero .hero-heading {
    width: 400px;
    font-size: 30px;
  }

  .navbar div .list {
    display: none;
  }

  .hero .bottom div img {
    bottom: -30px;
  }
}